<% if current_user_signed_in? %>
  
  <h1 class="header">Edit Book</h1>

  <%= form_for(@book, url: admin_book_path) do |f| %>

    <%= f.text_field :title, class: "form-control", :placeholder => "Enter Book Title", :style => "width:50%;" %>
    <br>

    <%= f.text_field :author, class: "form-control", :placeholder => "Enter Book Author",:style => "width:50%;" %>
    <br>
    <%= f.text_field :price, class: "form-control", :placeholder => "Enter Book Price",:style => "width:50%;" %>
    <br>
    <%= f.text_area :summary, class: "form-control", :placeholder => "Enter Book Summary",:style => "width:50%;" %>
    <br>
    <%= f.submit("Save Edited Book") %>
    <br>
  <% end %>

<% else %>
  <h3 style="text-align:center">Sorry the page you are looking for does not exist.</h3>

<% end %>
