<% if user_signed_in? %>
  
  <h1 class="header">Edit Venue</h1>

  <%= form_for(@venue, url: venue_path) do |f| %>

    <%= f.text_field :name, class: "form-control", :placeholder => "Enter Venue Name", :style => "width:50%;" %>
    <br>
    <%= f.text_field :address, class: "form-control", :placeholder => "Enter Venue Address",:style => "width:50%;" %>
    <br>
    <%= f.text_field :phone_number, class: "form-control", :placeholder => "Enter Venue Phone Number",:style => "width:50%;" %>
    <br>
    <%= f.text_field :website, class: "form-control", :placeholder => "Enter Venue Website",:style => "width:50%;" %>
    <br>
    <%= f.submit("Save Venue") %>
    <br>
  <% end %>

<% else %>
  <h3 style="text-align:center">Sorry the page you are looking for does not exist.</h3>

<% end %>
